@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fugaz+One&family=Patua+One&display=swap");

header {
  font-size: 55px;
  font-weight: 600;
  background-image: linear-gradient(to left, #68b0ab, #ff7e67);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Fugaz One", cursive;
}

footer {
  background-image: linear-gradient(to left, #68b0ab, #ff7e67);
  font-family: "Fugaz One", cursive;
  color: #ecf4f3;
  padding: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

body {
  margin: 1rem;
  font-family: "Fugaz One", cursive;
  text-align: center;
}

button {
  margin: 1rem;
  border-radius: 0.9rem;
  padding: 1rem;
  border-color: #071a52;
  font-family: "Fugaz One", cursive;
  color: #071a52;
}

.butcherPig {
  width: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.userInput {
  border-radius: 0.5rem;
  height: 5rem;
  width: 50%;
  text-align: center;
  margin-bottom: 1rem;
  color: #071a52;
  font-family: "Fugaz One", cursive;
  font-size: large;
}

.inputArea {
  background-color: #006a71;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  height: auto;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: large;
}

.output {
  font-size: x-large;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }

  .output {
    font-size: 17px;
    margin-bottom: auto;
  }

  .inputArea {
    font-size: auto;
    height: auto;
    width: auto;
    padding: 1rem;
    text-align: center;
  }

  .userInput {
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
